.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      =image_tag('code1.png', :class=>"width_100")
      =image_tag('code2.png', :class=>"width_100")
      =image_tag('code3.png', :class=>"width_100")
      =image_tag('code4.png', :class=>"width_100")
      =image_tag('code5.png', :class=>"width_100")

    .col_50.ms_order_1
      #description
        %h2 Code the Block
        %h3 Logo and brand style guide for a nonprofit teaching inner-city kids how to code
        %p I worked with the two Code the Block founders to produce a logo, style guide and pattern library for their new organization, a nonprofit working to reverse the cycle of poverty for students by giving them sustainable, marketable skills while developing leadership mindsets through code.
        %p Primary to the brief was a focus on youthful energy and the double meaning of ‘block’ for both code as well as the areas of the city the kids were coming from. Through sketches and multiple iterations with the founders, I worked to develop a youthful, approachable logo with an inner-city reference and focus on the foundational building block the program hoped to build.
        %p The color palette was designed to appeal to both males and females, particularly by pulling in the hotrod neon pink to challenge the idea of coding behing a male-dominated interest.
        %p I took the same shapes from the logo and worked to repeat them across patterns for general, repeatable use across marketing materials.
        %h4.color_curry.text_uppercase My Work
        %ul
          %li Logo Design
          %li Pattern Design
