.fixed_width
  .cols
    .col_33.ms_order_2
      =image_tag('friends2017_mock1.png', :class=>"width_100")
      =image_tag('friends2017_mock2.png', :class=>"width_100")
      =image_tag('friends2017_mock3.png', :class=>"width_100")
      =image_tag('friends2017_mock4.png', :class=>"width_100")
      =image_tag('friends2017_mock5.png', :class=>"width_100")
      =image_tag('friendsgala2018_mock.png', :class=>"width_100")

    .col_50.ms_order_1
      #description
        %h2 Friends of University Academy
        %h3 Paired annual report and fundraising promotional  materials
        %p In late 2017, Friends of University Academy – a nonprofit working to support the efforts of the Kansas City based charter school, University Academ –  commissioned me to design an annual report to celebrate the upper school’s recognition from the U.S. Department of Education as a National Blue Ribbon School, the highest honor an American K-12 school can receive. I was also contracted to pair the report design with a corresponding annual fundraising gala crest, invite and program to match the theme: blue ribbon, red carpet.
        %p I developed a color scheme to promote the theme while still complementing the organization’s lighter brand blue. Working with the nonprofit’s communications director to understand the success story the organization wanted to tell, I designed spreads which showcased the school’s key stats and highlights from the year, developing  illustrations to pull the reader’s eye throughout the report. I then applied these stylistic foundations to the gala’s crest, invite and program design.
        %p Both the annual report and gala save the dates were mailed together. Over 400 people attended and helped raise over $400,000 for Friends of University Academy to continue supporting the school’s students.
        %h4.color_curry.text_uppercase My Contribution
        %ul
          %li Graphic Design
          %li Content Design
          %li Illustration
