.row#intro
  .fixed_width
    %h1.color_curry Graphic
    %p A selection of logo and graphic design work I’ve done while freelancing.

-# <!-- Photo Grid -->
.cols.margin_b_100
  .col_33
    =link_to quinton_lucas_path do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Quinton Lucas, Mayor of Kansas City
  .col_33
    =link_to friends_university_path do
      .project_box.row_xl.no_color.graphic_landing_background
        %h2.font_medium.text_center
  .col_33
    =link_to code_block_path do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Code the Block

