.row#intro
  .fixed_width
    %p.text_center.text_uppercase{:style =>"background: #FF3F3F; color:#fff;"} Coming Soon
    %h1.color_curry Graphic
    %p A selection of logo and graphic design work I’ve done while freelancing.

-# <!-- Photo Grid -->
.cols.margin_b_100
  .col_one_third
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Quinton Lucas, Mayor of Kansas City
  .col_one_third
    =link_to '' do
      .project_box.row_xl.no_color.graphic_landing_background
        %h2.font_medium.text_center
  .col_one_third
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Code the Block

