.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      =image_tag('quinton1.png', :class=>"width_100")
      =image_tag('quinton2.png', :class=>"width_100")
      =image_tag('quinton3.png', :class=>"width_100")
      =image_tag('quinton4.png', :class=>"width_100")
      =image_tag('quinton5.png', :class=>"width_100")
      =image_tag('quinton6.png', :class=>"width_100")
      =image_tag('quinton7.png', :class=>"width_100")

    .col_50.ms_order_1
      #description
        %h2 Quinton Lucas, Mayor of Kansas City
        %h3 Logo and campaign style guide for 2019 mayorial election
        %p As a Kansas City resident, I had the pleasure of having Quinton Lucas represent my district on the city council fighting for safer policing, equitable housing practices and better infrastructure. So when I was approached by his campaign manager in early 2018 to create a logo for Quinton’s run to become mayor, I had a few ideas.
        %p Quinton grew up in the same neighborhoods of students I had taught in the Kansas City Public School District. He had experienced poverty, homelessness, and hunger. Yet he had defeated the odds and attended The Barstow School, Washington University, and Cornell Law School before joining the University of Kansas as one of the youngest tenure-track law professors in the country.
        %p Working with his campaign manager, personal assistant and communications director, I worked to create a logo that spoke to the bold, young, hopeful direction Quinton had in mind for Kansas City. Taking cues from Obama’s 2007 presidential campaign, I looked to make Quinton’s unique initial ‘Q’ the main focal point, striking from the smallest lapel pin to the largest billboard. With a dynamic, forward-cut, I worked to indicate the progressive agenda he had in mind for the city. I then paired the shape with a traditional political color palette to appeal to a larger number of voters before packaging the assets for the campaign to use across all their materials.
        %p Quinton Lucas was elected Mayor of Kansas City in November 2019. At age 34, he is the city’s youngest mayor in more than a century.
        %h4.color_curry.text_uppercase My Work
        %ul
          %li Logo Design
          %li Style Guide
