.row#intro
  .fixed_width
    %h1#bio_name.color_curry Carrie Markel
    %p Product and visual designer with a passion for illustration
  -# <!-- PROJECTS -->
  -# <!-- Photo Grid -->
  .cols.ms_block_display.margin_b_100
    .col_33
      =link_to product_digital_wallet_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Digital government wallet
    .col_33
      =link_to quinton_lucas_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Quinton Lucas, Mayor of Kansas City
    .col_33
      =link_to conversational_service_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Conversational service design

  .cols.ms_block_display.margin_b_100
    .col_33
      =link_to product_design_systems_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Product design systems
    .col_33
      =link_to friends_university_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Friends of University Academy
    .col_33
      =link_to cms_form_analytics_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Form and site analytics

  .cols.ms_block_display.margin_b_100
    .col_33
      =link_to code_block_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Code the Block
    .col_33
      =link_to form_response_workflow_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Form response workflow
    .col_33
      =link_to government_site_design_path do
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Local government site design
