.row#intro
  .fixed_width
    %h1#bio_name.color_curry Carrie Markel
    %p Product and visual designer with a passion for illustration
  -# <!-- PROJECTS -->
  -# <!-- Photo Grid -->
  .cols.margin_b_100
    .col_one_third
      =link_to '' do
        -# <a href="../projects/product/digital-government-wallet.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Digital government wallet
    .col_one_third
      =link_to '' do
        -# <a href="../projects/graphic/mayor-of-kc.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Quinton Lucas, Mayor of Kansas City
    .col_one_third
      =link_to '' do
        -# <a href="../projects/product/conversational-service-design.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Conversational service design

  .cols.margin_b_100
    .col_one_third
      =link_to '' do
        -# <a href="../projects/product/product-design-systems.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Product design systems
    .col_one_third
      =link_to '' do
        -# <a href="../projects/graphic/friends-university-academy.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Friends of University Academy
    .col_one_third
      =link_to '' do
        -# <a href="../projects/product/cms-form-analytics.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Form and site analytics

  .cols.margin_b_100
    .col_one_third
      =link_to '' do
        -# <a href="../projects/graphic/code-block.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Code the Block
    .col_one_third
      =link_to '' do
        -# <a href="../projects/product/form-response-workflow.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Form response workflow
    .col_one_third
      =link_to '' do
        -# <a href="../projects/product/government-site-design.html" class="project_box row_xl no_color">
        .project_box.row_xl.no_color
          .header_container_no_css
            %h2.font_medium.text_center Local government site design
