.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      =image_tag('conversation1.png', :class=>"width_100", :alt=>"Conversational Service Design")
      =image_tag('conversation2.png', :class=>"width_100", :alt=>"Conversational Service Design")
      =image_tag('conversation3.png', :class=>"width_100", :alt=>"Conversational Service Design")
    .col_50
      #description.ms_order_1
        %h2 Conversational service design
        %h3 Make government service friendly, efficient and modern
        %p More information coming soon.
        %h4.color_curry.text_uppercase My Work
        %ul
          %li Interaction & UI design
          %li Service design
