.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      #looper_background
        =image_tag('digital_wallet1.png', :class=>"width_100", :alt=>"Digital Government Wallet")
        =image_tag('digital_wallet2.png', :class=>"width_100", :alt=>"Digital Government Wallet")
      =image_tag('digital_wallet3.png', :class=>"width_100", :alt=>"Digital Government Wallet")
      =image_tag('digital_wallet4.png', :class=>"width_100", :alt=>"Digital Government Wallet")
      =image_tag('digital_wallet5.png', :class=>"width_100", :alt=>"Digital Government Wallet")
    .col_50
      #description.ms_order_1
        %h2 Digital Government Wallet
        %h3 What if citizens could store official documents, permits and receipts in the palm of their hand?
        %p While working on a government service platform that allowed citizens to pay for utilities, property taxes, vehicle registration, and other services, the product team at PayIt realized that those receipts were more than just a slip of paper from any every day purchase. In many cases, those receipts were official documents, proof of a completion, and often needed to be accessed again in subsequent government transactions.
        %p We worked through the obvious solution to reduce the need to store paper in a file folder or hunt through email, and instead, store those receipts  inside a “digital wallet” of each government payment app.
        %p This initial step led to a more audacious goal which was to convince local and state governments to authorize us to create the digital versions of digital documents such as permits and registrations to store in the digital wallet. After concepting a document design system and interactive “seal” in the background to indicate , we worked with a client partner to implement the first digital document for an app in the State of North Carolina.
        %h4.color_curry.text_uppercase My Role
        %ul
          %li Interaction & UI design
          %li Design system
        %p Thanks to designer Chris Thomas and front-end developer Luke Anderson
