.cols
  .col_one_third#looper_background
    -# .col_40{:style => "background: image-url('looper_group.png');"}
    -# = image_tag("Looper_Group.png", :alt=>'LooperGroup', :class => '')
  .col_one_third
    #description
      %h2 Test 2
