.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      %h3.color_curry Images coming soon
    .col_50
      #description.ms_order_1
        %h2 Form response workflow
        %h3 Moving business processes online
        %p What if citizens could store official documents, permits and receipts in the palm of their hand?
        %p More information coming soon.
        %h4.color_curry.text_uppercase My Work
        %ul
          %li Research and testing
          %li User journey mapping
          %li Interaction & UI design
          %li Thanks to designer Shannon King and front-end developer Braedon Reid
