.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      =image_tag('govtsitedesign1.png', :class=>"width_100", :alt=>"Government site design")
      =image_tag('govtsitedesign2.png', :class=>"width_100", :alt=>"Government site design")
      =image_tag('govtsitedesign3.png', :class=>"width_100", :alt=>"Government site design")
      =image_tag('govtsitedesign4.png', :class=>"width_100", :alt=>"Government site design")
    .col_50
      #description.ms_order_1
        %h2 Government site design
        %h3 Making government sites friendly, accessible and beautiful
        %p “Beautiful” is not a word often associated with government. But with a front-end component library and endless theming capabilities, the CMS at OpenCities had the power and capability to make beautiful UI design commonplace for our client sites.
        %p As I worked on the front-end componentry of the CMS product design, I also managed and oversaw the visual implementation of new client sites and theme refreshes.
        %p The foremost priority for each site was that it remain accessible according to the WCAG guidelines. As a product team, we worked hard to ensure componentry was functionally accessible out of the box, so my primary focus in art direction was ensuring an approachable interface for all users.
        %h4.color_curry.text_uppercase My Role
        %ul
          %li Art direction
          %li Process improvement
        %p Thanks to designer Charlotte Taylor for her drive to constantly improve and push the boundaries of theming.
