.row#intro
  .fixed_width
    %p.text_center.text_uppercase{:style =>"background: #FF3F3F; color:#fff;"} Coming Soon
    %h1.color_curry Product
    %p Product design showcase encompassing UX, UI, content design, research, prototyping and testing

-# <!-- Photo Grid -->
.cols.margin_b_100
  .col_one_third
    =link_to product_digital_wallet_path do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Digital government wallet
  .col_one_third
    -# =link_to '/conversational-service-design' do
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Conversational service design
  .col_one_third
    -# =link_to '/product-design-systems' do
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Product design systems

.cols.margin_b_100
  .col_one_third
    -# =link_to '/cms-form-analytics' do
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Form and site analytics
  .col_one_third
    -# =link_to '/form-response-workflow' do
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Form response workflow
  .col_one_third
    -# =link_to '/government-site-design' do
    =link_to '' do
      .project_box.row_xl.no_color
        %h2.font_medium.text_center Local government site design
