.fixed_width
  .cols
    .col_33.ms_order_2.z_index_-2
      %h3.color_curry Images coming soon
    .col_50
      #description.ms_order_1
        %h2 Product design systems
        %h3 Consistent patterns, quicker design, happier teams
        %p More information coming soon.
        %h4.color_curry.text_uppercase My Work
        %ul
          %li Interaction & UI design
          %li Service design
