.row#intro
  .fixed_width
    .cols
      .col_60
        %h1.color_curry About
        %p My path as a designer has not been a typical one, but I credit the success I’ve found to my early career days as a teacher. Turns out, holding the attention of thirty 2nd grade students for an entire day across multiple subjects teaches you a thing or two about human-centered design. Creating differentiated lesson plans and structuring a classroom environment were my crash course in designing for specific users & journeys while bringing it all back together into the holistic experience of my classroom’s rituals and expectations.

        %p I’ve since shifted my focus to digital design but I still value solving meaningful problems with a focus on accessibility and any opportunity to enhance any experience with illustration. I’m currently working in govtech and mulling over the future of service design for cities and governments.

        %p Download my resume
        %p Find me on LinkedIn

        %h3.text_uppercase
          =image_tag('circle.png', :alt=>"Red circle", :class=>"vertical_align_middle")
          Senior Product Designer
        %h4 OpenCities, Melbourne, Jan 2020–Present
        %ul
          %li Consult with product manager to refine concepts for new features &   enhancements to CMS and form builder products
          %li Manage 1 junior visual designer & art direct client web-theme projects

        %h3.text_uppercase
          =image_tag('circle.png', :alt=>"Red circle", :class=>"vertical_align_middle")
          Product Designer
        %h4 OpenCities, Melbourne, July 2018-Jan 2020
        %ul
          %li Wireframe, prototype, and refine UI for CMS and form builder products that service international city governments
          %li Designed, spec’d and delivered high-value market features such as form versioning, form response workflow, and product analytic dashboards
          %li Partnered with front-end developer to implement product design system using Figma & REACT

        %h3.text_uppercase
          =image_tag('circle.png', :alt=>"Red circle", :class=>"vertical_align_middle")
          Interaction Designer
        %h4 PayIt, Kansas City MO, Oct 2016-June 2018
        %ul
          %li UX/UI designer for a white-label government payments mobile and web app
          %li Re-designed paper-based government services for digital application within a conversational interface
          %li Prototyped and collaborated with development team to implement features including a digital wallet for local citizens, billing, receipts, onboarding and notification processes

        %h3.text_uppercase
          =image_tag('circle.png', :alt=>"Red circle", :class=>"vertical_align_middle")
          Graphic Designer
        %h4
          %span.text_uppercase CarrieMarkel LLC,
          Feb 2016–Nov 2018
        %ul
          %li Worked with non-profit and education org clients on a contract basis to produce marketing materials and annual reports

        %h3.text_uppercase
          =image_tag('circle.png', :alt=>"Red circle", :class=>"vertical_align_middle")
          Co-Founder
        %h4 The Lean Lab, Kansas City, Apr 2014–Nov 2016
        %ul
          %li Co-founded an IRS-recognized 501(c)3 organization to train and support education entrepreneurs
          %li Developed curriculum and facilitated training sessions with education leaders to teach human-centered design thinking
          %li Led communications and outreach strategies while designing collateral for social media, events and programs

        %h3.text_uppercase
          =image_tag('circle.png', :alt=>"Red circle", :class=>"vertical_align_middle")
          Teacher
        %h4 Kansas City Public Schools, Aug 2012-May 2014
        %ul
          %li Developed differentiated lesson plans based on state learning standards and district curriculum across 4 different subjects for a class of 30+ second-grade students
          %li Designed lesson plans for science and math units that fused arts education and exploration

        %hr/

        %h3.text_uppercase Training &amp; Education
        %h4 HTML/CSS/Javascript for Designers, Superhi, Aug 2018
        %h4 UX Fundamentals, General Assembly, May 2017
        %h4 Graphic Design Certification, Kansas City Art Institute, Mar 2017
        %h4 State of Missouri Teaching Certification, August 2014
        %h4 B.A. English Literature, Colorado College, May 2012

