// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  ABOUT */
#about {
  max-width: 50%;
}
.circle_text {
  padding-right:.5em;
  width:.9em;
}


/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERIES */
@media screen and (max-width:1180px){
  #about {
    max-width: 75%;
  }
}
@media screen and (max-width:1168px) {
  #about {
    max-width: 100%;
  }
}
@media screen and (max-width:767px) {
  #about {
    max-width: 100%;
  }
}
