// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* photo to touch header bar
bigger gutter bewtween text and photos
margin-right gutter for text so width is maintained (max-width: 800px)
add box shadow to photo column _ potentialy remove footer
*/
// add meta descriptions
// figure out favicon
// eye under page status

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HOME PAGE */
#bio_name {
  text-transform: uppercase;
  letter-spacing: .48em;
  line-height: 120%;
}
