%header#header
  .fixed_width
    .flex_display.flex_justify_between.flex_align_center.flex_wrap
      =link_to '/', :class=>'remove_line_height' do
        =image_tag('logo.png', :class=>'logo_image')
      -# <a href="../home/index.html" class="remove_line_height"><img src="../../assets/images/logo.png" class="logo_image"></a>
      .media_xs_hide
        .fixed_width.flex_display.flex_justify_between.flex_align_center{:style=>"width:32em;"}
          =link_to 'Product', product_path, :class=>'desktop_menu'
          -# <a class="desktop_menu" href="../projects/product/index.html">Product</a>
          =link_to 'Graphic', '', :class=>'desktop_menu'
          -# <a class="desktop_menu" href="../projects/graphic/index.html">Graphic</a>
          =link_to 'Illustration', '', :class=>'desktop_menu'
          -# <a class="desktop_menu" href="../projects/illustration/index.html">Illustration</a>
          =link_to 'About', '', :class=>'desktop_menu'
          -# <a class="desktop_menu" href="../about.html">About</a>
      #js_menu_expander.media_xs_show.hide
        <i class="material-icons">menu</i>
      #js_close_menu.hide
        <i class="material-icons" id="js_close_menu">close</i>

  -# <!-- MOBILE MENU -->
  #js_show_nav.row_small.hide.sticky
    %p.font_large
      =link_to 'Product', product_path
    %p.font_large
      =link_to 'Graphic', ''
    %p.font_large
      =link_to 'Illustration', ''
    %p.font_large
      =link_to 'About', ''
